version: "3.8"

services:
  composer:
    build:
      context: .
      dockerfile: Dockerfile.composer
    restart: unless-stopped
  
  postgresql:
    build:
        context: .
        dockerfile: Dockerfile.postgresql
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-symfony_db}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mydatabasepassword}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - platinum

  symfony:
    build:
      context: .
      dockerfile: Dockerfile.symfony
    depends_on:
      - composer
      - postgresql
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-mydatabasepassword}@postgresql:5432/${POSTGRES_DB:-symfony_db}?serverVersion=${POSTGRES_VERSION:-15.6}
    volumes:
      - ./src:/var/www/html
    ports:
      - 8000:8000
    networks:
      - platinum
    restart: unless-stopped
    
  adminer:
    build:
      context: .
      dockerfile: Dockerfile.adminer
    depends_on:
      - postgresql
    ports:
      - "8080:8080"
    networks:
      - platinum

volumes:
  db_data:

networks:
  platinum:
    driver: bridge